*{
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: "poppin_regular";
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppin_medium";
    src: url(Poppins-Medium.ttf);
}
@font-face {
    font-family: "poppin_bold";
    src: url(Poppins-Bold.ttf);
}
@font-face {
    font-family: "poppin_thin";
    src: url(Poppins-Thin.ttf);
}
body{
    margin: 0%;
    padding: 0%;
    background-color: antiquewhite;
}
.box{
    margin: auto;
    padding: 0%;
    width: 1286px;
    height: max-content;
    background-color: white;
    position: relative;
    top: 60px;
    padding-bottom: 3%;
    margin-bottom: 10%;
    box-shadow: 4px 4px 20px 2px #888888;
    border-radius: 20px;
}
.box h1{
    padding-top: 20px;
    text-align: center;
    font-family:'poppin_bold';
    font-size: 30px;
}
.box1{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    margin-bottom: -30px;
}
.bn{
    font-family: 'poppin_medium';
    font-size: 27px;
    text-decoration: underline;
}
.isd{
    font-family: 'poppin_medium';
    font-size: 27px;
    text-decoration: underline;
}
.rtd{
    font-family: 'poppin_medium';
    font-size: 27px;
    text-decoration: underline;
}
.books-data{
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.bookName{
    font-family: "Poppin_Regular";
    font-size: 1.3rem;
    width: 400px;
    position: relative;
    left: 7.8%;
}
.issueDate{
    font-family: "Poppin_Regular";
    font-size: 1.3rem;
    position: relative;
    right: 12.5%;
}
.returnDate{
    font-family: "Poppin_Regular";
    font-size: 1.3rem;
    position: relative;
    right: 10.5%;
}