*{
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: "poppin_regular";
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppin_medium";
    src: url(Poppins-Medium.ttf);
}
@font-face {
    font-family: "poppin_bold";
    src: url(Poppins-Bold.ttf);
}
@font-face {
    font-family: "poppin_thin";
    src: url(Poppins-Thin.ttf);
}
body{
    margin: 0%;
    padding: 0%;
    background-color: antiquewhite;
    overflow-x: hidden;
}
.box{
    margin: auto;
    padding: 3%;
    padding-left: 20px;
    width: 1180px;
    height: 600px;
    background-color: white;
    position: relative;
    top: 60px;
    margin-bottom: 10%;
    box-shadow: 4px 4px 20px 2px #888888;
    border-radius: 20px;
    padding-top: 20px;
}
#data{
    height: 470px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 50px;

}
.box h1{
    text-align: center;
    font-family:'poppin_bold';
    font-size: 32px;
}
#head{
    margin-left: 5%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: -20px;
}
#head p{
    width: 828px;
    font-size: 28px;
    font-family: 'poppin_medium';
    padding-top: 20px;
    text-decoration: underline;
    left: 50px;
    position: relative;
    font-weight: 700;
}
#id{
    white-space: nowrap;
}
#bn{
    font-family: 'Poppin-Medium';
    font-size: 25px;
    display: inline-block;
    position: relative;
    padding-left: 108px;
    padding-bottom: 30px;
    width: 390px;
}
#rd{
    font-family: 'Poppin-Medium';
    font-size: 25px;
    display: inline-block;
    padding-left: 481px;
    position: relative;
}