*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Poppin-Bold";
    src: url(Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppin-Medium";
    src: url(Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppin-Regular";
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: "EBGaramond-Italic";
    src: url(EBGaramond-MediumItalic.ttf);
}
.homepage-img{
    position: relative;
    width: 40%;
    float: right;
    top: 25px;
}
.quote{
    font-size: 2rem;
    position: relative;
    padding: 36px;
    font-family: cursive;
    top: 69px;
    text-align: justify;
    width: 800px;
}
.head-box{
    width: 300px;
    height: 60px;
    position: relative;
    background-color: #cacaca;
    left: 39%;
    top: 180px;
    z-index: 2;
}
.category-head{
    position: relative;
    font-size: 2rem;
    font-family: 'Poppin-Medium';
    text-align: center;
    top: 5px;
}
.category-box{
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #2fb0e9;
    top: 70px;
    display: flex;
    justify-content: space-evenly;
}
.branch-box{
    position: relative;
    background-color: white;
    border-radius: 15px;
    width: 200px;
    height: 220px;
    top: 90px;
    box-shadow: 2px 2px 15px -4px black;
    cursor: pointer;
}
.branch-box:hover{
    top: 80px;
    box-shadow: 2px 2px 15px 2px black;
}
.branch-text{
    position: relative;
    font-size: 1.5rem;
    font-family: 'Poppin-Medium';
    text-align: center;
    top: 5px;
}
.branch-img{
    position: relative;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 160px;
    border-bottom: 2px solid;
}