*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "poppin_regular";
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppin_medium";
    src: url(Poppins-Medium.ttf);
}
@font-face {
    font-family: "poppin_bold";
    src: url(Poppins-Bold.ttf);
}
@font-face {
    font-family: "poppin_thin";
    src: url(Poppins-Thin.ttf);
}
.outer{
    background-color: #c1edfe;
    width: 100vw;
    height: 100vh;
}
.inner-box{
    width: 68%;
    height: 75%;
    border-radius: 20px;
    box-shadow: 4px 4px 20px 2px #888888;;
    background-color: white;
    position: relative;
    margin: auto;
    top: 10%;
    display: flex;
}
.box{
    margin: 0%;
    padding: 0%;
    width: 510px;
    background-color: antiquewhite;
    position: relative;
    left: 51%;
    top: 0px;
    border-left: 2px solid;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#head{
    font-family: 'poppin_bold';
    font-size: 39px;
    position: relative;
    left: 0px;
    top: 50px;
    color: #333333;
    text-align: center;
}
#button1{
    width: 80%;
    height: 42px;
    font-size: 23px;
    font-family: 'poppin_medium';
    border-radius: 10px;
    position: relative;
    text-align: center;
    top: 120px;
    left: 52px;
    color: black;
    background: #c1edfe;
    cursor: pointer;
}
#button1:hover{
    background-color: bisque;
}
#or{
    font-size: 20px;
    position: relative;
    text-align: center;
    top: 171px;
    color: #333333;
}
#not{
    font-size: 15px;
    font-family: 'poppin_regular';
    position: relative;
    text-align: center;
    top: 178px;
    color: #333333;
}
input[id=username]{
    position: relative;
    width: 72%;
    margin: 25px;
    border: none;
    padding-left: 40px;
    border-bottom: 2px solid #333333;
    outline: none;
    font-size: 20px;
    top: 63px;
    left: 24px;
    font-family: 'poppin_medium';
    background-color: antiquewhite;
}
input[id=pass]{
    position: relative;
    width: 72%;
    margin: 25px;
    border: none;
    padding-left: 40px;
    border-bottom: 2px solid #333333;
    outline: none;
    font-size: 20px;
    top: 63px;
    left: 24px;
    font-family: 'poppin_medium';
    background-color: antiquewhite;
}
input[id=username]:focus{
    border-bottom: 2px solid cyan;
}
input[id=pass]:focus{
    border-bottom: 2px solid cyan;
}
label{
    position: relative;
    top: 76px;
    margin: 50px;
    color: #333333;
    font-family: 'poppin_regular';
    font-weight: bold;
}
#forgot{
    font-family: 'poppin_regular';
    font-size: 18px;
    position: absolute;
    left: 35%;
    bottom: 180px;
    color: black;
}
#forgot:hover{
    color:red;
}
.existing{
    font-family: 'poppin_medium';
    font-size: 17px;
    position: relative;
    left: 27%;
    top: 26%;
    color: black;
}
.reg_btn{
    font-family: 'poppin_medium';
    font-size: 17px;
    position: relative;
    left: 63%;
    top: 114px;
    color: black;
    text-decoration: none;
}
.reg_btn:hover{
    color: chocolate;
}
.logo{
    width: 400px;
    position: relative;
    top: 10%;
    left: 70px;
}
.image-box{
    width: 0%;
}
