*{
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: "poppin_regular";
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppin_medium";
    src: url(Poppins-Medium.ttf);
}
@font-face {
    font-family: "poppin_bold";
    src: url(Poppins-Bold.ttf);
}
@font-face {
    font-family: "poppin_thin";
    src: url(Poppins-Thin.ttf);
}
body{
    margin: 0%;
    padding: 0px 0px 50px 0px;
    overflow: hidden;
    background-color: #c1edfe;
}
.reg-bg{
    width: 100vw;
    height: 125vh;
    position: absolute;
    z-index: -1;
    bottom: -13%;
}
.box{
    margin: 0%;
    padding: 0%;
    width: 500px;
    height: 620px;
    background-color: #fff0de;
    position: relative;
    left: 34%;
    top: 44px;
    border-radius: 15px;
    box-shadow: 4px 4px 20px 2px #888888;
}
#head{
    font-family: 'poppin_bold';
    font-size: 39px;
    position: relative;
    left: 0px;
    top: 17px;
    color: #333333;
    text-align: center;
}
#button2{
    width: 80%;
    height: 50px;
    font-size: 23px;
    font-family: 'poppin_medium';
    border-radius: 10px;
    color: black;
    position: absolute;
    text-align: center;
    left: 52px; 
    margin-top: 62%;
    background-color: #c1edfe;
}
#button2:hover{
    background-color: bisque;
}
input[id=username]{
    position:absolute;
    width: 80%;
    margin: 25px;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    font-size: 20px;
    top: 97px;
    left: 24px;
    font-family: 'poppin_medium';
    background-color:#fff0de;
}
input[id=pass]{
    position:absolute;
    width: 80%;
    margin: 25px;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    font-size: 20px;
    top: 182px;
    left: 24px;
    font-family: 'poppin_medium';
    background-color:#fff0de;
}
input[id=name]{
    position:absolute;
    width: 80%;
    margin: 25px;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    font-size: 20px;
    top: 266px;
    left: 24px;
    font-family: 'poppin_medium';
    background-color:#fff0de;
    text-transform: uppercase;
}
input[id=email]{
    position:absolute;
    width: 80%;
    margin: 25px;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    font-size: 20px;
    top: 350px;
    left: 24px;
    font-family: 'poppin_medium';
    background-color:#fff0de;
}
input[id=m_number]{
    position:absolute;
    width: 80%;
    margin: 25px;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    font-size: 20px;
    top: 434px;
    left: 24px;
    font-family: 'poppin_medium';
    background-color:#fff0de;
}
input[id=class]{
    position:absolute;
    width: 80%;
    margin: 25px;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    font-size: 20px;
    top: 510px;
    left: 24px;
    font-family: 'poppin_medium';
    background-color:#fff0de;
    text-transform: uppercase;
}
/* input[id=male]{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 623px;
    left: 52px;

}
input[id=female]{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 623px;
    left: 203px;
}
input[id=other]{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 623px;
    left: 364px;
} */
label[id=ci]{
    position:absolute;
    top: 38px;
    margin: 48px;
    color: #333333;
    font-family: 'poppin_regular';
    font-size: 20px;
}
label[id=ps]{
    position:absolute;
    top: 122px;
    margin: 48px;
    color: #333333;
    font-family: 'poppin_regular';
    font-size: 20px;
}
label[id=sn]{
    position:absolute;
    top: 206px;
    margin: 48px;
    color: #333333;
    font-family: 'poppin_regular';
    font-size: 20px;
}
label[id=mi]{
    position:absolute;
    top: 290px;
    margin: 48px;
    color: #333333;
    font-family: 'poppin_regular';
    font-size: 20px;
}
label[id=mn]{
    position:absolute;
    top: 374px;
    margin: 48px;
    color: #333333;
    font-family: 'poppin_regular';
    font-size: 20px;
}
label[id=cs]{
    position:absolute;
    top: 454px;
    margin: 48px;
    color: #333333;
    font-family: 'poppin_regular';
    font-size: 20px;
    text-transform: uppercase;
}
/* label[id=gender]{
    position:absolute;
    top: 528px;
    margin: 48px;
    color: #333333;
    font-family: 'poppin_regular';
    font-size: 20px;
}
label[id=m]{
    position: absolute;
    top: 567px;
    margin: 50px;
    color: #333333;
    font-family: 'poppin_regular';
    font-size: 20px;
    left: 25px;
}
label[id=f]{
    position: absolute;
    top: 567px;
    margin: 50px;
    color: #333333;
    font-family: 'poppin_regular';
    font-size: 20px;
    left: 176px;
}
label[id=o]{
    position: absolute;
    top: 567px;
    margin: 50px;
    color: #333333;
    font-family: 'poppin_regular';
    font-size: 20px;
    left: 336px;
} */